{% render 'pagefly-settings' %} <link rel="stylesheet" href="{{ 'pagefly.00c691cf.css' | asset_url }}" media="print" onload="this.media='all'">
		  {% if product_6860729876650 == null %}{%- assign product_6860729876650 = all_products["mf-4-felpa"] -%}{% endif %} {% if product_6861126205610 == null %}{%- assign product_6861126205610 = all_products["mf-4-cappello-da-pescatore"] -%}{% endif %}<script>
	window.__pageflyProducts = window.__pageflyProducts || {};
	window.__pageflyProducts["6860729876650"] = {
		id: {{ product_6860729876650.id | json }},
		handle: {{ product_6860729876650.handle | json }},
		title: {{ product_6860729876650.title | json }},
		type: {{ product_6860729876650.type | json }},
		url: {{ product_6860729876650.url | within: collection | json }},
		vendor: {{ product_6860729876650.vendor | json }},
		variants: {{ product_6860729876650.variants | json }},
		options: {{ product_6860729876650.options | json }},
		media: {{ product_6860729876650.media | json }},
		has_only_default_variant: {{ product_6860729876650.has_only_default_variant | json }},
		options_with_values: {{ product_6860729876650.options_with_values | json }},
		selected_variant: {{ product_6860729876650.selected_variant | json }},
		selected_or_first_available_variant: {{ product_6860729876650.selected_or_first_available_variant | json }},
		tags: {{ product_6860729876650.tags | json }},
		template_suffix: {{ product_6860729876650.template_suffix | json }},
		featured_image: {{ product_6860729876650.featured_image | json }},
		featured_media: {{ product_6860729876650.featured_media | json }},
		images: {{ product_6860729876650.images | json }},
		quantity: {% assign quantity = '' %}{% for variant in product_6860729876650.variants %}{% assign quantity = quantity | append: variant.id | append: ':' | append: variant.inventory_quantity | append: ',' %}{% endfor %}{% assign quantity = quantity | split: ','%}{{quantity | json }}
	};window.__pageflyProducts["6861126205610"] = {
		id: {{ product_6861126205610.id | json }},
		handle: {{ product_6861126205610.handle | json }},
		title: {{ product_6861126205610.title | json }},
		type: {{ product_6861126205610.type | json }},
		url: {{ product_6861126205610.url | within: collection | json }},
		vendor: {{ product_6861126205610.vendor | json }},
		variants: {{ product_6861126205610.variants | json }},
		options: {{ product_6861126205610.options | json }},
		media: {{ product_6861126205610.media | json }},
		has_only_default_variant: {{ product_6861126205610.has_only_default_variant | json }},
		options_with_values: {{ product_6861126205610.options_with_values | json }},
		selected_variant: {{ product_6861126205610.selected_variant | json }},
		selected_or_first_available_variant: {{ product_6861126205610.selected_or_first_available_variant | json }},
		tags: {{ product_6861126205610.tags | json }},
		template_suffix: {{ product_6861126205610.template_suffix | json }},
		featured_image: {{ product_6861126205610.featured_image | json }},
		featured_media: {{ product_6861126205610.featured_media | json }},
		images: {{ product_6861126205610.images | json }},
		quantity: {% assign quantity = '' %}{% for variant in product_6861126205610.variants %}{% assign quantity = quantity | append: variant.id | append: ':' | append: variant.inventory_quantity | append: ',' %}{% endfor %}{% assign quantity = quantity | split: ','%}{{quantity | json }}
	};
	</script><div style="opacity:0" class="sc-bCwfaz hzzSzX __pf" id="__pf"><div data-pf-type="Body" class="sc-eJocfa jARayQ pf-1_"><div data-pf-type="Layout" class="sc-gSYDnn jcqGXt pf-2_"><div data-pf-type="Section" class="sc-ckTSus kVjkXt pf-57_"><div style="--cw:700px" class="sc-gGLxEB dGJRan"><div class="sc-iwajpm kydRHc pf-67_ pf-r pf-r-eh" style="--s-xs:15px;--s-lg:0px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-lg:12"><div data-pf-type="Column" class="sc-oeezt OJJCp pf-64_"><h3 data-pf-type="Heading" class="sc-gXfVKN hOTIIO pf-63_"><span data-pf-type="Text" class="sc-eGJWMs gQYBcx pf-62_">SPEDIZIONA GRATUITA PER ORDINI SUPERIORI A 100 EURO</span></h3></div></div></div></div></div><div style="--overlay:rgba(0, 0, 0, 0.4)" data-pf-type="Section" class="sc-ckTSus kVjkXt pf-73_ pf-bg-lazy"><div class="sc-fbIWvP jREztg"></div><div style="--cw:700px" class="sc-gGLxEB dGJRan"><div class="sc-iwajpm kydRHc pf-79_ pf-r pf-c-cb pf-r-eh" style="--s-xs:15px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-lg:12"><div data-pf-type="Column" class="sc-oeezt OJJCp pf-81_"><a title="About Us" data-action="url" href="/pages/chi-siamo" target="_self" data-pf-type="Image" class="sc-iTVJFM oxVOu pf-80_"><img src="https://cdn.shopify.com/s/files/1/0585/5720/2602/t/12/assets/logo-bianco-1632712338208_280x.png?v=1632712334" srcSet="https://cdn.shopify.com/s/files/1/0585/5720/2602/t/12/assets/logo-bianco-1632712338208.png?v=1632712334 1536w" width="280" height="70" sizes="(min-width: 1536px) 1536px, (min-width: 1024px) 1280px, (min-width: 640px) 768px, 320px" loading="lazy" title="About Us" class="sc-carFqZ hBWCUB"/></a><h2 data-pf-type="Heading" class="sc-gXfVKN hOTIIO pf-88_"><span data-pf-type="Text" class="sc-eGJWMs gQYBcx pf-87_">MADE FOR YOU</span></h2><h2 data-pf-type="Heading" class="sc-gXfVKN hOTIIO pf-99_"><span data-pf-type="Text" class="sc-eGJWMs gQYBcx pf-98_">NEW COLLECTIONS</span></h2><a href="/collections/mf-4" target="_self" data-pf-type="Button" class="sc-cxNHIi jnA-diB pf-96_"><span data-pf-type="Text" class="sc-eGJWMs gQYBcx pf-95_">DISCOVER</span></a></div></div></div></div></div></div></div></div><script>window.__pagefly_setting__={"baseURL":"https://apps.pagefly.io","analyticsURL":"https://analytics.pagefly.io","isBackend":false,"cdnURL":"https://cdn.pagefly.io","pageflyVersion":"3.10.3","shopDomain":"montefede.myshopify.com","elementData":{},"pageTitle":"Home Page Finale","pageType":"home","pageId":"00c691cf-c5ca-4866-9eda-00e97b3480a5","lazyLoad":true,"forceByPassGoogleLightHouse":false,"imageLazyLoad":true,"nativeImageLazyLoad":true,"useThemeJQ":false,"selectedFonts":{"Actor":{"400":0,"bold":0}},"trackingIDs":[],"shopifyProxyPath":"/a/pf_preview"};window.__pagefly_setting__.moneyFormat={{shop.money_format|json}};</script><script src="https://cdn.pagefly.io/pagefly/3.10.3/core/helper.js" async></script>